<h2>Datenschutzerklärung</h2>

Datenverarbeitung zur Übermittlung der Onlineinhalte


A. Allgemeines

Seitenbetreiber: Thorsten Claus, Gibenhey 2, 44227 Dortmund

B. Verarbeitung zum Zweck der Übermittlung der Seiteninhalte
Zum Zweck der Übermittlung der von Ihnen aufgerufenen Webseite werden von Ihrem
Browser typischerweise unter anderem folgende Informationen (im Rahmen von sogenannten HTTP-Requests)
übersandt:

Ihre IP-Adresse, eine Ziffernfolge, die Ihren derzeitigen Computeranschluss im Internet identifiziert.
Die von Ihnen aufgerufene URL (die Webseite und ggf. weitere Parameter),
Informationen zu dem von Ihnen verwendeten Browser und Betriebssystem, wie deren Name und Version
sowie – unter Umständen – die Seite, von der aus Sie zu uns gelangt sind (Referrer-Information).
Der Zeitpunkt der Anfrage.
Diese Daten werden überlicherweise circa eine Woche gespeichert, bevor diese automatisch gelöscht werden.

C. Verarbeitung zur Seitenoptimierung
Es findet keine Übertragung zu Facbook, Google oder sintigen dritten statt, die für
den Betrieb der Seite nicht notwendig sind. Daher werden auch keine cookies dritter
auf Ihrem Browser gespeichert.
