
<h4>
  <%= @element.displayname %>
</h4>

<%= render 'shared/element_actions' %>
<%= render 'shared/element_tabs' %>

<div class="element-container">
    <% area = request.url.split('/').last  %>
    <%= render "keytech/#{area}" %>
</div>
