<% # A nicelist of favorites %>
    <div class="my_keytech">
      <h5>Favoriten</h5>
      <ul>
      <% @favorites.each do |fav| %>
        <% if !fav.targetElementKey.blank? %>
        <li>
          <%= link_to fav.entryName, show_element_path(fav.targetElementKey) %>
        </li>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div class="my_keytech">
      <h5>Suchen</h5>
      <ul>
      <% @queries.each do |query| %>
        <% if !query.targetElementKey.blank? %>
        <li>
          <%= link_to query.entryName,search_element_path(byquery: query.targetElementKey, reload: true) %>
        </li>
        <% end %>
      <% end %>
      </ul>
    </div>
