<% # A nicelist of favorites %>
    <div class="my_keytech">
      <h5>Favorites</h5>
      <ul>
      <% @favorites.each do |fav| %>
        <% if !fav.targetElementKey.blank? %>
        <li>
          <%= link_to fav.entryName,'#' %>
        </li>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div class="my_keytech">
      <h5>Queries</h5>
      <ul>
      <% @queries.each do |fav| %>
        <% if !fav.targetElementKey.blank? %>
        <li>
          <%= link_to fav.entryName,'#' %>
        </li>
        <% end %>
      <% end %>
      </ul>
    </div>
