<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <caption><%= @elements.count %> Elemente</caption>
    <thead>
      <tr>
        <% @layout.controls.each do |control| %>
          <th scope="col"><%= control.displayname %></th>
        <% end %>
      </tr>
    </thead>
  <tbody>

    <% @elements.each do |element| %>
        <tr>
          <% @layout.controls.each do |control| %>
          <td>
          <%= render partial:'table_cell',locals: {control: control, element: element} %>
          </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
  </table>
</div>
