
<div class="alert alert-danger collapse" role="alert" id="servercheck_failed_alert">
 keytech URL, Benutzername oder Passwort ungültig.<br>
 <%= link_to 'Setze keytech Einstellungen', keytech_settings_path %>
</div>
