

<ul class="nav nav-tabs">
  <% currentPath = request.url.split('/').last %>
  <% @subareas.each do |area| %>
    <li class="nav-item">
      <% if area.key.downcase == currentPath %>
        <%= link_to area.displayname, "/element/#{@element.key}/#{area.key.downcase}", class: "nav-link active" %>
      <% else %>
        <% # Create a download - button if fil exist %>
        <% if area.key.downcase != "files" %>
          <%= link_to area.displayname, "/element/#{@element.key}/#{area.key.downcase}", class: "nav-link" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <% if @hasMasterfile %>
    <li>
      <%= link_to masterfile_element_path do %>
        Download
        <i class="fas fa-file-download fa-2x"></i>
      <% end %>
    </li>
  <% end %>

</ul>
