
<footer class="container">
  <p class="float-right">
    <a href="#">Nach oben</a>
  </p>

  <p>© 2018 <a href="https://Claus-Software.de">Claus-Software</a>
    ·
    E-Mail: <%= mail_to 'info@claus-software.de' %>
  </p>
</footer>
