// Place all the styles related to the elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.element-container {
  border-left: 1px solid #d1d5da;
  padding-left: 10px;
  padding-top: 10px;
}

.thumbnail {
  max-width: 210px;
  width: auto;
}

.list-group.group-by-classes {
  margin-top: 10px;
  font-size: 90%;
}
