// Place all the styles related to the elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.element-container {
  border-left: 1px solid #d1d5da;
  padding-left: 10px;
  padding-top: 10px;
}

.thumbnail {
  max-width: 210px;
  width: auto;
}

.thumbnail_modalable {
  max-width: 210px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail_modalable:hover {opacity: 0.7;}

.thumbnail_modal {
  max-width: 440px;
  width: auto;
}

.list-group.group-by-classes {
  margin-top: 10px;
  font-size: 90%;
}

.masterfile_name {
  font-size: 90%;
  text-align:center;
}

.secondary_fileInfo {
  text-align:center;
}

.icon-small i {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.bar {
    height: 18px;
    background: green;
}
