<div class="row">
  <div class="col-lg-3">
    <%= render 'keytech/my_keytech' %>
  </div>
  <div class="col-lg-9">
    <% if !@element.blank? %>
      <%= render 'keytech/main_keytech' %>
    <% else %>
     Kein Element gefunden
    <% end %>
  </div>
</div>
